<ion-header class="dc">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu/settings" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Suppression</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text class="aa">
    <h5 class="ion-padding-start">
      <ion-icon name="alert"></ion-icon> La suppression de votre compte va :
    </h5>
  </ion-text>
  <ion-text>
    <p class="ion-padding-start">supprimer votre compte isBusy d'une facon définitive</p>
  </ion-text>


  <ion-button size="small" style="margin-left: 50px; margin-top: 20px;" (click)="deleteAccount()">Supprimer mon compte
  </ion-button>

</ion-content>