.dc{
    --ion-background-color: #f6b93b;
}
// ion-item{
//     --background:dark;
//     light:#f4f5f8;
//     --color: white;
// }
ion-item{
    border-bottom: 3px white solid;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 30px;
}
.re{
   color:#f6b93b;
   --ion-background-color:red;
   font-size: 15px;
}
.aa{
    color: #f6b93b;
}
.lb{
    font-size: 22px;
}