<ion-header>
  <ion-toolbar>
    <ion-title>ajouteremplacement</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="image" text-center>
        <img alt="logo" id="header_logo" height="100" float-right src="assets/icon/image1.png">
      </div>
      <ion-item>
        <ion-label class="my-label" color="primary" size position="floating">Nom de l'emplacement</ion-label>
        <ion-input rows="4" placeholder="Saisissez votre suggestion" [(ngModel)]="formulaire.nomEmplacement"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="my-label" color="primary" size position="floating">Catégorie</ion-label>
        <ion-input rows="4" placeholder="Saisissez la catégorie" [(ngModel)]="formulaire.categorie"></ion-input>
      </ion-item>
      <ion-button class="bouton" color="primary" position="center" (click)="suggerer()">Envoyer</ion-button>    
</ion-content>
