

<ion-header class="ddd" >
  <ion-toolbar color="dark">
      <ion-buttons slot="start" >
          <ion-back-button defaultHref="/" color="light"></ion-back-button>
        </ion-buttons>
    <ion-title color="light">Paramètres</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
       <ion-list>

            <ion-item (click)="deleteAccount()">
              <ion-label > <ion-icon  name="trash" size="small"  style="margin-right: 10px;"></ion-icon>Supprimer mon compte </ion-label> 
            </ion-item>  

           <ion-item (click)="getLicence()" >
            <ion-label > <ion-icon  name="albums" size="small"  style="margin-right: 10px;"></ion-icon> Licence</ion-label>
             </ion-item>  

           <ion-item>
              <ion-label > <ion-icon   name="flag"  style="margin-right: 10px;"></ion-icon> Langue </ion-label>
              <ion-select  >
                <ion-select-option value="f" selected color="red">Francais</ion-select-option>
                <ion-select-option value="g">Anglais</ion-select-option>
                <ion-select-option value="a">Arabe</ion-select-option>
              </ion-select>
            </ion-item>
      
            <ion-item (click)="getPropos()">
            <ion-label > <ion-icon  name="information-circle" size="small"  style="margin-right: 10px;"></ion-icon>À Propos </ion-label> 
          </ion-item>  

       </ion-list>
      
</ion-content>
