<ion-header>
  <ion-toolbar>
    <ion-title>Emplacements</ion-title>
    <ion-buttons slot="start">
<ion-back-button defaultHref="menu/categories" color="dark"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let item of (result.emplacements)" class="bigItem"> 
      <ion-item button [routerLink]="['/menu/', item.id,'details' ]" style="width: 100%">

        <ion-label text-wrap>
          <h1>{{ item.nomEmplacement }}</h1>
          <ion-label *ngIf="item.vote == 0"><b>Status: </b>vide</ion-label>
          <ion-label *ngIf="item.vote == 1"><b>Status: </b>moyen</ion-label>
          <ion-label *ngIf="item.vote == 2"><b>Status: </b>plein</ion-label>
          <ion-label *ngIf="item.vote == 3"><b>Status: </b>fermé</ion-label>
          <ion-label *ngIf="item.vote == 4"><b>Status: </b>non évalué</ion-label>
        </ion-label>
      </ion-item>

      <ion-list *ngFor="let it of (resu.emplacements)" style="display: none">
        <ion-label *ngIf="item.id == it.id">{{colorRed()}}</ion-label>
      </ion-list>
      <ion-button id="9{{item.id}}" class="{{fColor}}" (click)="addRemovefav(item.id)">
        <label id="99{{item.id}}" for="{{fColor}}">Favoris</label>
      </ion-button>
      {{colorBlue()}}
    </ion-item>

  </ion-list>

  


</ion-content>
