.footer{
    text-align:center;
    background-color:rgb(243, 191, 18);
        }
  .colorstar1{
  color: #3b9e0d;
  }
  .colorstar2{
    color: #d1ad0d;
    }
  .colorstar3{
      color: #5a0505;
      width: 20px
    }
  .card{
    height:280px;
  }
  .images{
    height: 100px;
    width: 50;
  }
  .time{
  text-align:center;
  
  }
  .position{
    color: #f53030;
    margin-left: 0%;
    margin-bottom: 0%;
  }
  .star{
    color: #d1ad0d;
  }
  .bs{
    text-align:center;

  }