ion-item {
    --background: dark;
    --color: white;
}

.first {
    margin-bottom: 20px;
}

ion-button {
    --background: dark;
    color: white;
    border-radius: 20px;
    border: 2px solid white;
}

.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}


