<ion-header class="mmm">
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/" color="light"></ion-back-button>
        </ion-buttons>
    <ion-title color="light">À Propos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-text >
    <p class="ion-padding-start ion-padding-top" >isBusy vous informe en temps réel du meilleur moment pour aller au musée,
       appeler votre service client, vous rendre dans une boutique, 
       contacter une administration...  </p>
    <p class="ion-padding-start" > Nous rassemblons des informations sur des milliers d’établissements à travers toute le Maroc mais aussi au niveau mondial, 
      n'attendez plus et rejoignez la communauté isBusy.</p>
    <p class="ion-padding-start" >
      isBusy vous permet de trouver les heures creuses de milliers de magasins, lieux touristiques, 
      guichets d'administrations ou services clients à l’aide de nos tableaux d’affluence et 
      de la communauté qui partage en temps réel l’affluence où elle se trouve</p>     
  </ion-text>
</ion-content>
