<ion-header class="www">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="white"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Licence</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
      <ion-text class="aa">
        <h5 class="ion-padding-start" ><ion-icon  size="small" name="pin" style="margin-right: 10px;"></ion-icon>Données de localisation </h5>
      </ion-text>
               <p class="ion-padding-start" > Permettre à l'application d'utiliser les données de localisation de l'appareil</p>
       <ion-text class="aa">
          <h5 class="ion-padding-start" ><ion-icon name="wifi" size="small" style="margin-right: 10px;" ></ion-icon> Informations relatives au Wi-Fi</h5>
        </ion-text>
               <p class="ion-padding-start" >  Permet à l'application d'accéder à des informations du réseau Wi-Fi
                  </p>
        <ion-text class="aa">
            <h5 class="ion-padding-start" class="ion-padding-start" color="light" ><ion-icon name="call" size="small" style="margin-right: 10px;" ></ion-icon> Téléphone</h5>
          </ion-text>
                <p class="ion-padding-start">Permettre à l'application d'utiliser un ou plusieurs éléments suivants :
                    téléphone, journal d'appels ,frais pouvant s'appliquer
                </p>

          <ion-text class="aa">
              <h5 class="ion-padding-start" class="ion-padding-start" color="light" ><ion-icon name="help" size="small" style="margin-right: 10px;" ></ion-icon>Autres</h5>
            </ion-text>  
                     <p color="light" class="ion-padding-start">Recevoir des données depuis internet</p>
   
</ion-content>
