
<ion-content padding class="content">
  
  <h1>IsBusy</h1>

 <ion-button   strong="true" class="b a button-full" click="" href="login"> Se connecter</ion-button >
  <ion-button   margin-top strong="true"  color="danger" click="" class=" button-full" href="register">S'inscrire</ion-button >
    
 <!--   <ion-button margin-top strong="true" color="primary" click="" class="  button-full" ><ion-icon name="logo-facebook"> </ion-icon>Continuer avec Facebook</ion-button > -->

</ion-content>
