<ion-content  padding >
  <ion-toolbar>
    <ion-title>
      <img alt="logo" id="header_logo" height="100" float-right src="assets/icon/image1.png"> 
    </ion-title>
  </ion-toolbar>



  <ion-item>
  <ion-label  class="my-label" color="primary" size position="floating">Titre de la réclamation</ion-label>
  <ion-input rows="4"  placeholder="Saisissez le titre de votre réclamation"></ion-input>
</ion-item>
  <ion-item>
  <ion-label class="my-label" color="primary" size position="floating">Réclamation</ion-label>
  <ion-textarea rows="4"  placeholder="Saisissez votre réclamation"></ion-textarea>
</ion-item>
  <ion-button class="bouton" color="primary" position="center">Réclamer</ion-button>
</ion-content>